@model string[]

<div style="width: 300px; height: 250px; padding: 0px 10px;">
    <ul>
        @foreach(var tag in Model)
        {
            <li>
                @tag
            </li>
        }
    </ul>
</div>