<div id="pages">
    <ul>
        @foreach (BrickPile.Page page in ViewBag.Pages)
        {
            <li>
                <a href="@page.Id">@page.Id</a>                
            </li>
        }
    </ul>
</div>