<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>BrickPile CMS</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link href="~/Areas/UI/static/css/style.min.css" rel="stylesheet">
</head>
<body>
    <header class="header" role="banner">
        <div class="logo">
            <a href="/">
                <img src="~/Areas/UI/static/img/logo.png" alt="Logo">
            </a>
        </div>
        <nav class="nav" role="navigation">
            <ul>
                <li>
                    <a href="/"></a>
                </li>
            </ul>
        </nav>
    </header>

    <main class="main" role="main">
        @RenderBody()
    </main>

    <aside class="sidebar" role="complementary"></aside>

    <footer class="footer" role="contentinfo"></footer>

    <script src="~/Areas/UI/static/components/jquery/jquery.min.js"></script>
    <script src="~/Areas/UI/static/js/scripts.min.js"></script>

</body>
</html>
