@model BrickPile.Image

<fieldset>
    <legend>Bild</legend>
    @Html.LabelFor(x => x.Id)
    <br />
    @Html.EditorFor(x => x.Id)
    <br />
    @Html.LabelFor(x => x.Name)
    <br />
    @Html.EditorFor(x => x.Name)
    <br />
    <button>Mobil</button> <button>Mobil L</button> <button>Surfplatta</button> <button>Surfplatta L</button> <button>Dator</button>
</fieldset>
